.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
    ),
    url(./public/blog_logo.png);
    background-position: center;
    background-size: cover;
}

.login-title{
    border-style: outset;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login-form > label{
    margin: 10px 0;
}
.login-input{
    border-style: dashed;
    padding: 10px;
    background-color: white;
}

.login-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    width: 50%;
    align-self: center;
}

.register-button{
    background-color: rgb(4, 87, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none; 
    border-radius: 5px;
}